* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Inicio Main */
#main {
    display: flex;
    height: auto; 
}

/* Inicio Content */
.content {
    flex: 1;
    padding: 20px;
    background: #f9f9f9;
}


/* Cards Informativos */
.cards-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    max-width: 100%;
    padding-top: 50px;
}

.card{
    background-color: #4682B4;
    height: 130px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

    /* Texto (caso precise mudar pra .card h1) */
    color: white;
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;

    /* Background */
    background-image: url('https://img.icons8.com/ios-filled/100/ffffff/user-group-man-man.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: 20px center;
}



.botao{
    width: fit-content;
    padding: 15px;
    border: none;
    border-radius: 10px; /* Bordas arredondadas */
    background-color: #4682B4; /* Cor azul do gradiente */
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 2%;
}
/* Fim Content */
