/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* Inicio Header */
/* header {
    width: 100%;
    height: 4rem; 
} movido para o header*/

/* Fim Header */

/* Inicio Sidebar */
/* .sidebar {
    width: 250px;
    height: auto;
} */
/* Fim Sidebar */