body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Arial', sans-serif;
    color: #333;
    background: linear-gradient(to right, #87CEEB, #4682B4);
    padding: 20px;
    margin: 0;
}

.container-cadastro {
    background-color: #ffffff;
    border-radius: 20px;
    min-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formulario-cadastro {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 91vh;
    overflow-y: auto;
}

.formulario-cadastro input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

.formulario-cadastro h2 {
    text-align: center;
    color: #444;
    font-weight: 600;
    margin-bottom: 20px;
}

.formulario-cadastro label {
    font-weight: 500;
    color: #555;
}


.batismo {
    margin: 10px 0;
}

.batismo > label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
}

.opcoes-batismo {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.opcao-radio {
    display: flex;
    align-items: center;
    gap: 8px;
}

.opcao-radio input[type="radio"] {
    margin: 0;
    width: 18px;
    height: 18px;
}

.opcao-radio label {
    margin: 0;
    cursor: pointer;
    font-weight: normal;
}

.dropbox {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #4682B4;
    color: white;
    font-weight: bold;
}

.formulario-cadastro > label{
    font-weight: bold;
}
