body {
    display: flex;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    color: #333;
    background: linear-gradient(to right, #87CEEB, #4682B4);
    padding: 20px;
    margin-top: 13%;
}

.container{
    background-color: white;
    border-radius: 14px;
    gap: 7px;
    padding: 15px;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 525px;
    padding: 10px;
}

.btn-cancel,.btn-delete{
    border-radius:5px;
    padding: 7px;
    min-width: 120px;
    align-self: center;
    margin-top: 15px;
    box-shadow: 3px 3px 5px 0px #8a8080;
    cursor: pointer;
}

.btn-cancel{
    background-color: #4682B4;
    color: white;
}

.btn-cancel:hover{
    background-color: #138496;
}

.btn-delete{
    background-color: #c21d1d;
    color: white;
}

.btn-delete:hover{
    background-color: #d46e1a;
}