body{
    font-family: 'Arial', sans-serif;
    color: #333;
    background: linear-gradient(to right, #87CEEB, #4682B4);
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 1000px;
    min-height: 900px;
}

.details-grid, .header{
    background-color: #FFFF;
    gap: 5px;
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    position: relative;
    box-sizing: border-box;
}

.header{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: relative;
    text-align: center;
}

.details-grid{
    min-height: 85vh;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: relative;
}

h1{
    margin: 0;
    padding: 10px 0;
}

.member-id{
    font-weight: 600;
    text-align: left;
    width: 100%;
}

.btn-back{
    position: absolute;
    top: 30px;
    right: 487px;
    color: black;
}

.btn-edit{
    position: absolute;
    top: 200px;
    left: 500px;
    color: #1a73e8;
    font-weight: bold;
    cursor: pointer;
}

.btn-print{
    position: absolute;
    bottom: 15px;
    right: 487px;
    background-color: transparent;
    border: 1px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-delete{
    position: absolute;
    bottom: 15px;
    left: 487px;
    background-color: transparent;
    color: red;
    border: 1px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}